<li class="item col-lg-4 col-md-6">
  <img class="" src="{{images.thumbnail}}" alt="{{name}} Thumbnail" height="110" width="110">
  <div class="blurb">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <button type="button" class="eat btn btn-danger" data-purchase-id="0">Eat</button>
  </div>
</li>
